.App {
  background-color: peachpuff;
  width: 40%;
  padding: 3%;
  margin-top: 2%;
  border: 5px solid #3C4D80;
}

p {
  font-weight: bold;
  color: #3C4D80;
}

.completed {
  text-decoration: line-through;
}

button {
  border: 3px solid #3C4D80;
  background-color: peachpuff;
  margin-left: 2px;
}

button:hover {
  color: peachpuff;
  background-color: #3C4D80;
  font-weight: bold;
}

.top {
 color: #3C4D80;
}